<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<p>言語を選択後、年齢を入力して下さい。</p>

<form th:action="@{/self-introduction}"
      th:object="${languageAge}" method="post">
    <select th:field="*{ope}">
        <option value="JAPAN">JAPAN</option>
        <option value="USA">USA</option>
        <option value="FRANCE">FRANCE</option>
        <option value="KOREAN">KOREAN</option>
    </select>
    <input type="number"
           th:field="*{age}"/>
    <input type="submit" value="出力"/>
</form>
</body>
</html>
